/* Places Styles */
.places {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Article Styles */
article {
  width: 48%; /* Adjust as needed */
  margin-bottom: 20px;
  border: 1px solid #FF5A5F;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

/* Place Name Styles */
h2 {
  font-size: 30px;
  text-align: center;
}

/* Price by Night Styles */
.price_by_night {
  font-size: 30px;
  color: #FF5A5F;
  border: 4px solid #FF5A5F;
  border-radius: 4px;
  min-width: 60px;
  height: 60px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Information Styles */
.information {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

/* Information Items Styles */
.max_guest,
.number_rooms,
.number_bathrooms {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* User Styles */
.user {
  margin: 10px 0;
  padding: 10px;
}

/* Description Styles */
.description {
  margin: 10px 20px;
}

/* Amenities Styles */
.amenities {
  margin-top: 40px;
  padding: 10px 20px;
}

/* Amenities Title Styles */
.amenities h2 {
  font-size: 16px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 10px;
}

/* Amenities List Styles */
.amenities ul {
  list-style: none;
  padding: 0;
}

/* Amenities Item Styles */
.amenities li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

/* Reviews Styles */
.reviews {
  margin-top: 40px;
  padding: 10px 20px;
}

/* Reviews Title Styles */
.reviews h2 {
  font-size: 16px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 10px;
}

/* Reviews List Styles */
.reviews ul {
  list-style: none;
  padding: 0;
}

/* Reviews Item Styles */
.reviews li {
  margin-bottom: 20px;
}

/* Reviews User/Date Styles */
.reviews h3 {
  font-size: 14px;
}

/* Reviews Text Styles */
.reviews p {
  font-size: 12px;
}
